<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="row">
        <div class="col text-white text-center">
            <img src="{{ profile?.picture }}" alt="User profile image" class="profile-userpic"/>
            <!--<i class="fa fa-user fa-4x circle profile-userpic"></i>-->

            <p>Welcome, {{ profile?.given_name }}</p>

        </div>
    </div>
    <ul class="list-group">
        <a [routerLink]="['/recorder']" [routerLinkActive]="['router-link-active']" class="list-group-item"
           (click)="toggleSidebar()">
            <i class="fa fa-circle"></i>&nbsp;{{ 'recorder' | translate }}
        </a>
        <a [routerLink]="['/recording-history']" [routerLinkActive]="['router-link-active']" class="list-group-item"
           (click)="toggleSidebar()">
            <i class="fa fa-history"></i>&nbsp;{{ 'recordingHistory' | translate }}
        </a>
        <a [routerLink]="['/analyzed-recordings']" [routerLinkActive]="['router-link-active']" class="list-group-item"
           (click)="toggleSidebar()">
            <i class="fa fa-check-square-o"></i>&nbsp;{{ 'analyzedRecordings' | translate }}
        </a>
        <a [routerLink]="['/education']" [routerLinkActive]="['router-link-active']" class="list-group-item"
           (click)="toggleSidebar()">
            <i class="fa fa-book"></i>&nbsp;{{ 'education' | translate }}
        </a>
        <a [routerLink]="['/settings']" [routerLinkActive]="['router-link-active']" class="list-group-item"
           (click)="toggleSidebar()">
            <i class="fa fa-cog"></i>&nbsp;{{ 'settings' | translate }}
        </a>
        <a class="list-group-item" (click)="auth.logout()">
            <i class="fa fa-sign-out"></i>&nbsp;{{ 'logout' | translate }}
        </a>
    </ul>
</nav>
