<div class="card bottom-spacing">
    <div class="card-block">
        <h4 class="card-title">{{recording?.patientName || "John Doe"}}</h4>
        <h6 class="card-subtitle mb-2">
            <span class="text-muted">Email:</span> <a *ngIf="recording && recording.patientEmail;else unknown" href="mailto:{{ recording?.patientEmail }}" class="pull-right">{{ recording?.patientEmail }}</a>
            <ng-template #unknown>
                <span class="pull-right">unknown</span>
            </ng-template>
        </h6>
        <h6 class="card-subtitle mb-2"><span class="text-muted">Date:</span> <span class="pull-right">{{recording?.recordingDateTime}}</span></h6>
        <h6 class="card-subtitle mb-2"><span class="text-muted">Length:</span> <span class="pull-right">{{recording?.recordingLength | number : '1.2-2'}}s</span></h6>
        <a [routerLink]="['/analyzed-recordings']" [queryParams]="{ id: recording?.id }" class="card-link">Recording Diagnostics</a>
        <a [routerLink]="['/player']" [queryParams]="{ id: recording?.id }" class="card-link">Preview Recording</a>
    </div>
</div>
