<div class="row" *ngIf="!recordingStarted">
    <div class="col-lg-12">
        <p class="text-center">Press the button below to start recording.</p>
    </div>
</div>
<div id="waveform"></div>

<br/>
<br/>
<nav class="navbar fixed-bottom navbar-light" style="z-index: 900;">
    <div class="container w-100">
        <div class="row" *ngIf="recordingFinished">
            <div class="col">
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <select #zoom name="zoom" id="" class="form-control" (change)="setZoom($event.target.value)" [(ngModel)]="visualizerZoom">
                        <option value="25">.25</option>
                        <option value="50">.50</option>
                        <option value="75">.75</option>
                        <option value="100" selected="selected">1</option>
                        <option value="200">2.00</option>
                        <option value="500">5.00</option>
                        <option value="1000">10</option>
                        <option value="2000">20</option>
                    </select>
                </div>
            </div>
            <div class="col"></div>
            <div class="col">
                <div class="form-group input-group">
                    <select #speed name="speed" class="form-control" (change)="setPlaybackRate($event.target.value)" [(ngModel)]="playbackSpeed">
                        <option value="0.25">.25</option>
                        <option value="0.50">.50</option>
                        <option value="0.75">.75</option>
                        <option value="1">1</option>
                    </select>
                    <span class="input-group-addon"><i class="fa fa-tachometer"></i></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col">
                <div class="btn-group w-100" role="group">
                    <!--Recorder-->
                    <button type="button" class="btn btn-outline-danger w-100" *ngIf="!recordingStarted && !recordingFinished"
                            (click)="cmdStartRecording()"><i class="fa fa-circle-o"></i> Start Recording
                    </button>
                    <button type="button" class="btn btn-outline-danger w-100 active" *ngIf="recordingStarted && !recordingFinished"
                            (click)="cmdStopRecording()"><i class="fa fa-circle"></i> Stop Recording
                    </button>
                    <!--Player-->
                    <button type="button" class="btn btn-outline-primary w-25" *ngIf="recordingFinished"
                            (click)="cmdSaveRecording()"><i class="fa fa-save"></i>
                    </button>
                    <button type="button" class="btn btn-outline-primary w-50" *ngIf="recordingFinished && !playingActive"
                            (click)="cmdPlayerPlay()"><i class="fa fa-play"></i> Play
                    </button>
                    <button type="button" class="btn btn-outline-primary w-50 active" *ngIf="recordingFinished && playingActive"
                            (click)="cmdPlayerPause()"><i class="fa fa-pause"></i> Pause
                    </button>
                    <button type="button" class="btn btn-outline-primary w-25" *ngIf="recordingFinished"
                            (click)="cmdDiscardRecording()"><i class="fa fa-trash-o"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>


</nav>
<app-save-modal></app-save-modal>

