<div class="login-page">
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <br />
            <h1>HeartHum</h1>
            <br />
            <br />
            <a *ngIf="!auth.isAuthenticated()" (click)="auth.login()" class="btn rounded-btn">Sign in with your Google Account</a>
            <button class="btn btn-primary btn-margin" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
                Log Out
            </button>
        </div>
    </div>
</div>
