<div class="login-page">
    <div class="row">
        <div class="col-md-4 push-md-4">
            <!--<img src="assets/images/logo.png" width="150px" class="user-avatar" />-->
            <i class="fa fa-heartbeat text-danger circle"></i>
            <br />
            <h1>HeartHum</h1>
            <br />
            <br />
            <a *ngIf="!auth.isAuthenticated()" (click)="auth.login()" class="btn rounded-btn"><i class="fa fa-google"></i> Sign In</a>
            <br />
            <br />
            <p class="text-muted">* Sign in using your Google Account</p>
            <button class="btn btn-primary btn-margin" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
                Log Out
            </button>
        </div>
    </div>
</div>
