<div class="card">
    <div class="card-block">
        <img class="mx-auto d-block" src="https://easyauscultation.azureedge.net/picts/torsoAnt-locations250.jpg" alt="Auscultation points">
        <h4 class="card-title">Auscultation Trainings</h4>
        <div class="btn-group-vertical w-100" role="group">
            <a href="https://www.easyauscultation.com/heart-sounds-reference-guide-area?Position=Aortic" target="_blank" class="btn btn-secondary">A - Aortic Area</a>
            <a href="https://www.easyauscultation.com/heart-sounds-reference-guide-area?Position=Pulmonic" target="_blank" class="btn btn-secondary">P - Pulmonic Area</a>
            <a href="https://www.easyauscultation.com/heart-sounds-reference-guide-area?Position=Mitral" target="_blank" class="btn btn-secondary">M - Mitral Area</a>
            <a href="https://www.easyauscultation.com/heart-sounds-reference-guide-area?Position=Erbs-Point" target="_blank" class="btn btn-secondary">E - Erb's Point</a>
            <a href="https://www.easyauscultation.com/heart-sounds-reference-guide-area?Position=Tricuspid" target="_blank" class="btn btn-secondary">T - Triscupid Area</a>
        </div>
        <br>
        <br>
        <p class="card-text">Easy Auscultation is an ideal entry point for new learners. The reference guide is designed to provide quick access to abnormal sounds, with summary listening tips, audio examples and waveforms.</p>
        <a href="https://www.easyauscultation.com/heart-sounds" target="_blank" class="btn btn-primary">Go</a>
    </div>
</div>
<br/>
<div class="card">
    <div class="card-block">
        <img class="mx-auto d-block" src="https://static.wixstatic.com/media/51509e_430a0056a1f34c76a2ffac50c2c14f82.jpg/v1/fill/w_166,h_220,al_c,q_80,usm_0.66_1.00_0.01/51509e_430a0056a1f34c76a2ffac50c2c14f82.webp" alt="">
        <h4 class="card-title">Thinklabs Heart Sounds Library</h4>
        <p class="card-text">The Heart Sound Library is a reference collection curated by the Thinklabs Community, captured on Thinklabs stethoscopes, and recorded on smartphones, mobile devices, and laptops.</p>
        <a href="http://www.thinklabs.com/heart-sounds" target="_blank" class="btn btn-primary">Go</a>
    </div>
</div>
<br/>
<div class="card">
    <div class="card-block">

        <h4 class="card-title">DIY Electronic Stethoscope</h4>
        <p class="card-text">Some of us can't afford hi-tec gadgets. That's where DIY steps in.</p>
        <a href="http://advan.physiology.org/content/36/4/360" target="_blank" class="btn btn-primary">Go</a>
    </div>
</div>
<br/>
<div class="card">
    <img class="card-img-top" src="https://www.dlc.com.au/media/wysiwyg/1133592v1v1.jpg" alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title">High Tech Electronic Stethoscope</h4>
        <p class="card-text">Professional digital stethoscope solution.</p>
        <a href="http://www.thinklabs.com/" target="_blank" class="btn btn-primary">Go</a>
    </div>
</div>
<br/>
