<ng-template #childModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Save info ...</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form role="form">
            <fieldset class="form-group">
                <label>Patient Name</label>
                <input [(ngModel)]="patientName" name="patientName" class="form-control" />
                <!--<p class="help-block">Example block-level help text here.</p>-->
            </fieldset>
            <fieldset class="form-group">
                <label>Patient E-mail</label>
                <input [(ngModel)]="patientEmail" name="patientEmail" class="form-control" />
                <!--<p class="help-block">Example block-level help text here.</p>-->
            </fieldset>
            <fieldset class="form-group">
                <label>Recording position</label>
                <select [(ngModel)]="recordingPosition" name="recordingPosition" class="form-control">
                    <option value="">...</option>
                </select>
                <!--<p class="help-block">Example block-level help text here.</p>-->
            </fieldset>
            <fieldset class="form-group">
                <label>Recording device</label>
                <select [(ngModel)]="recordingDevice" name="recordingDevice" class="form-control">
                    <option value="">...</option>
                </select>
                <!--<p class="help-block">Example block-level help text here.</p>-->
            </fieldset>
            <fieldset class="form-group">
                <label>Date of recording</label>
                <input [(ngModel)]="recordingDateTime" name="recordingDateTime" type="datetime-local" class="form-control"/>
                <!--<p class="help-block">Example block-level help text here.</p>-->
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c('Save click'); close('save');">Save</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click'); close('close');">Close</button>
    </div>
</ng-template>

<!--
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<hr>

<pre>{{closeResult}}</pre>
-->
