<ng-template #childModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Save info</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form role="form">
            <h4>Patient</h4>
            <fieldset class="form-group">
                <label>Name</label>
                <input [(ngModel)]="recording.patientName" name="patientName" class="form-control" placeholder="name"/>
                <!--<p class="help-block">Example block-level help text here.</p>-->
            </fieldset>
            <fieldset class="form-group">
                <label>E-mail</label>
                <input [(ngModel)]="recording.patientEmail" name="patientEmail" class="form-control" placeholder="e-mail"/>
                <!--<p class="help-block">Example block-level help text here.</p>-->
            </fieldset>
            <fieldset class="form-group">
                <label>Age</label>
                <div class="input-group">
                    <input [(ngModel)]="recording.patientAge" name="patientAge" class="form-control" type="number" aria-valuemax="120" aria-valuemin="0" />
                    <span class="input-group-addon">yr</span>
                </div>
                <!--<p class="help-block">Example block-level help text here.</p>-->
            </fieldset>
            <fieldset class="form-group">
                <label>Height</label>
                <div class="input-group">
                    <input [(ngModel)]="recording.patientHeight" name="patientHeight" class="form-control" type="number" aria-valuemax="250" aria-valuemin="0" />
                    <span class="input-group-addon">cm</span>
                </div>

                <!--<p class="help-block">Example block-level help text here.</p>-->
            </fieldset>
            <fieldset class="form-group">
                <label>Weight</label>
                <div class="input-group">
                    <input [(ngModel)]="recording.patientWeight" name="patientWeight" class="form-control" type="number"  aria-valuemax="300" aria-valuemin="0" />
                    <span class="input-group-addon">kg</span>
                </div>
                <!--<p class="help-block">Example block-level help text here.</p>-->
            </fieldset>
            <fieldset class="form-group">
                <label>Sex</label>
                <select [(ngModel)]="recording.patientSex" name="patientSex" class="form-control">
                    <option value="">N/A</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                </select>
                <!--<p class="help-block">Example block-level help text here.</p>-->
            </fieldset>
            <hr>
            <h4>Recording</h4>
            <fieldset class="form-group">
                <label>Recording position</label>
                <select [(ngModel)]="recording.recordingPosition" name="recordingPosition" class="form-control">
                    <option value="">N/A</option>
                    <option value="a">Aortic</option>
                    <option value="p">Pulmonic</option>
                    <option value="e">ERB's Point</option>
                    <option value="t">Tricuspid</option>
                    <option value="m">Mitral</option>
                </select>
                <!--<p class="help-block">Example block-level help text here.</p>-->
            </fieldset>
            <fieldset class="form-group">
                <label>Recording device</label>
                <select [(ngModel)]="recording.recordingDevice" name="recordingDevice" class="form-control">
                    <option value="">N/A</option>
                    <option value="Electret Stethoscope">Electret Stethoscope</option>
                    <option value="Piezo Stethoscope">Piezo Stethoscope</option>
                    <option value="Piezo Tactile">Piezo Tactile</option>
                </select>
                <!--<p class="help-block">Example block-level help text here.</p>-->
            </fieldset>
            <fieldset class="form-group">
                <label>Comment</label>
                <textarea [(ngModel)]="recording.comment" name="comment" class="form-control"></textarea>
                <!--<p class="help-block">Example block-level help text here.</p>-->
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c('Save click'); close('save');">Save</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click'); close('close');">Close</button>
    </div>
</ng-template>

<!--
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<hr>

<pre>{{closeResult}}</pre>
-->
